/*
Creator Name : Paul Christian Labor
Date Created : September 1, 2022
*/
/* Essentials Content */
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}
/* Hamburger Button Content */
.hamburger{
    position: fixed;
    right: 0;
    border: none;
    background: none;
    font-size: 30px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
}
.hamburger:hover{
    background-color: black;
}
/* Hidden Menu Content */
.hiddenmenu{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform .25s ease-in;
    transform: translateX(100%);
}
.hiddenmenuopen{
    transform: translateX(0%);
}
.hiddenmenuclose{
    transform: translateX(100%);
}
.hiddenmenutitle{
    padding: 50px
}
.hiddenmenutitle a:hover{
    text-decoration: none;
}
.hiddenmenulinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hiddenmenulinks a{
    padding: 30px;
}
.hiddenmenusocials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hiddenmenusocials a{
    padding: 20px;
}
/* Home Contents */
.home{
    height: 100%;
    background-image: url(background1.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* About Contents */
.about{
    height: 100%;
    background-color: #262626;
    border: solid 1px red;
}
/* Skills Contents */
.skills{
    height: 100%;
    background-color: #333333;
    border: solid 1px red;
}
/* Projects Contents */
.projects{
    height: 100%;
    background-color: #262626;
    border: solid 1px red;
}
/* Contact Contents */
.contact{
    height: 100%;
    background-color: #333333;
    border: solid 1px red;
}
/* Footer Contents */
footer{
    padding: 2%;
    text-align: center;
    background-color: #262626;
}