/*
Creator Name : Paul Christian Labor
Date Created : September 1, 2022
*/
/* Essentials Content */
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}
h2{
    padding: 2%;
    text-align: center;
}
/* Hamburger Button Content */
.hamburger{
    position: fixed;
    right: 0;
    border: none;
    background: none;
    font-size: 30px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
}
.hamburger:hover{
    background-color: black;
}
/* Hidden Menu Content */
.hiddenmenu{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform .25s ease-in;
    transform: translateX(100%);
}
.hiddenmenuopen{
    transform: translateX(0%);
}
.hiddenmenuclose{
    transform: translateX(100%);
}
.hiddenmenutitle{
    padding: 50px
}
.hiddenmenutitle a:hover{
    text-decoration: none;
}
.hiddenmenulinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hiddenmenulinks a{
    padding: 30px;
}
.hiddenmenulinks a:hover{
    color: #997300;
}
.hiddenmenusocials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hiddenmenusocials a{
    padding: 20px;
}
.hiddenmenusocials a:hover{
    color: #997300;
}
/* Home Contents */
.home{
    height: 100%;
    background-image: url(background1.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homecontent{
    width: 100%;
    padding: 4%;
}
/* About Contents */
.about{
    height: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutcontent{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.aboutphotocontainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutphotocontent{
    height: 80%;
    width: 50%;
    background-image: url("background3.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    box-shadow: -10px 10px 10px #997300;
}
.aboutdescriptioncontainer{
    height: 100%;
    width: 100%;
}
.aboutdescriptioncontent{
    padding: 2%;
}
.aboutdescriptioncontent p{
    padding: 2%;
}
/* Skills Contents */
.skills{
    height: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillscontent{
    height: 90%;
    width: 90%;
}
.skillsdescriptioncontainer{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillscardcontainer{
    border: solid 1px gray;
    height: 30%;
    width: 90%;
    margin: 2%;
    border-radius: 5px;
    box-shadow: -10px 10px 10px #262626;
    text-align: center;
}
.skillscardicon{
    padding: 2%;
}
.skillscardicon i{
    font-size: 50px;
}
.skillscarddescription{
    padding: 2%;
}














/* Projects Contents */
.projects{
    height: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Contact Contents */
.contact{
    height: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer Contents */
footer{
    padding: 2%;
    text-align: center;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}